<?xml version="1.0" ?>
<robot name="robot_scene" xmlns:xacro="http://ros.org/wiki/xacro">
    
    <!-- Xacro Parameters -->
    <xacro:arg name="robot_prefix"      default=""/>
    <xacro:arg name="robot_type"        default="gp400"/>
    <xacro:arg name="robot_eoat"        default="false"/>
    <xacro:arg name="global_ref_frame"  default="world"/>

    <xacro:arg name="ref_link"  default="$(arg global_ref_frame)" />
    <xacro:arg name="ref_xyz"   default="0.000 0.000 0.000"/>
    <xacro:arg name="ref_rpy"   default="${radians(0.00)} ${radians(0.00)} ${radians(0.00)}"/>

    <!-- Robot Properties -->
    <xacro:property name="robot_type" value="$(arg robot_type)"/>
    <xacro:property name="robot_eoat" value="$(arg robot_eoat)"/>
    
    <!-- Yaskawa GP400 Robot -->
    <xacro:if value="${robot_type == 'gp400'}">
        <!-- YASKAWA GP400 Robot URDF -->
        <xacro:include filename="$(find robot_support)/urdf/robots/gp400/gp400_urdf.xacro"/>
        <!-- "robot_prefix" describes the naming of the robot -->
        <!-- "ref_link" describes the reference_link of which the object (robot-base) is connected to -->
        <!-- "ref_xyz" [m] and "ref_rpy" [rad] describes the pose of the object (robot-base) relative to the reference-link -->
        <xacro:robot_gp400 robot_prefix = "$(arg robot_prefix)" 
                           ref_link = "$(arg global_ref_frame)"  
                           ref_xyz  = "0.000 0.000 0.000" 
                           ref_rpy  = "${radians(0.00)} ${radians(0.00)} ${radians(0.00)}" />
    </xacro:if>

    <!-- ABB IRB6660 Robot -->
    <xacro:if value="${robot_type == 'irb6660'}">
        <!-- ABB IRB6660 Robot URDF -->
        <xacro:include filename="$(find robot_support)/urdf/robots/irb6660/irb6660_urdf.xacro"/>
        <!-- "robot_prefix" describes the naming of the robot -->
        <!-- "ref_link" describes the reference_link of which the object (robot-base) is connected to -->
        <!-- "ref_xyz" [m] and "ref_rpy" [rad] describes the pose of the object (robot-base) relative to the reference-link -->
        <xacro:robot_irb6660 robot_prefix = "$(arg robot_prefix)" 
                           ref_link = "$(arg global_ref_frame)"  
                           ref_xyz  = "0.000 0.000 0.000" 
                           ref_rpy  = "${radians(0.00)} ${radians(0.00)} ${radians(0.00)}" />
    </xacro:if>
    
    <!-- Robot End-Effector (EOAT) -->
    <xacro:if value="${robot_eoat}">
        <!-- End-Effector - Brush -->
        <xacro:include filename="$(find robot_support)/urdf/eoat/brush/urdf/eoat_brush_macro.xacro"/>
        <!-- The xacro must be included with passing parameters -->
        <!-- "connected_to" describes the link of which the object is connected to -->
        <!-- "xyz" [m] and "rpy" [rad] describes the pose of the object relative to "connected_to"-link -->
        <xacro:eoat_brush prefix = "$(arg robot_prefix)eoat" 
                            ref_link = "$(arg robot_prefix)eoat_mount" 
                            ref_xyz  = "0.000 0.000 0.000" 
                            ref_rpy  = "${radians(0.00)} ${radians(0.00)} ${radians(0.00)}"/>
    </xacro:if>
    <!-- No EOAT, add default TCP -->
    <xacro:unless value="${robot_eoat}">
        <!-- Robot Tool-Center-Point -->
        <link name="$(arg robot_prefix)tcp"/>
        <joint name="$(arg robot_prefix)tcp_joint" type="fixed">
            <parent link="$(arg robot_prefix)tool0"/>
            <child link="$(arg robot_prefix)tcp"/>
            <origin xyz="0.000 0.000 0.000" rpy="0.0 0.0 0.0"/>
        </joint>
    </xacro:unless>

    <!-- Environment Configuration-->

         <!-- Generate world-link-->
        <link name="$(arg global_ref_frame)"/>

        <!-- Environment URDF -->
        <!-- <xacro:include filename="$(find robot_support)/urdf/environment_urdf.xacro"/> -->
        
</robot>