<launch>
    <!-- General Parameter(s) -->
    <arg name="dollar" default="$"/>

    <!-- Robot Settings -->
    <arg name="robot_prefix"        default=""/>
    <arg name="robot_type"          default="gp400" />
    <arg name="robot_support_path"  default="~"/>

    <!-- Robot Prefix Parameter Node -->
    <node name="$(anon prefix_param_node)" pkg="robot_support" type="prefix_param_node" output="screen" > 
        <param name="robot_prefix"      type="str" value="$(arg robot_prefix)"/>
        <param name="robot_type"        type="str" value="$(arg robot_type)"/>
        <rosparam command="load" file="$(arg dollar)(find $(arg robot_support_path))/config/joint_names.yaml"/>
        <rosparam command="load" file="$(arg dollar)(find $(arg robot_support_path))/config/joint_limits.yaml"/>
        <rosparam command="load" file="$(find robot_support)/config/cartesian_limits.yaml"/>
        <rosparam command="load" file="$(find robot_support)/config/kinematics/kinematics_kdl.yaml"/>
        <rosparam command="load" file="$(find robot_support)/config/kinematics/kinematics_tracik.yaml"/>
        <rosparam command="load" file="$(find robot_support)/config/kinematics/kinematics_opw.yaml"/>
        <rosparam command="load" file="$(find robot_support)/config/kinematics/kinematics_lma.yaml"/>
        <rosparam command="load" file="$(find robot_support)/config/kinematics/kinematics_cached_kdl.yaml"/>
        <rosparam command="load" file="$(find robot_support)/config/kinematics/kinematics_cached_tracik.yaml"/>
        <rosparam command="load" file="$(find robot_support)/config/kinematics/opw_parameters_$(arg robot_type).yaml"/>
    </node>
</launch>
